body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e2e8f0;
}

.container {
  width: 85%;
  margin: auto;
}

header {
  background: #111827;
  padding: 60px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 40px;
}

header p {
  color: #94a3b8;
}

.links a {
  margin: 10px;
  color: #38bdf8;
  text-decoration: none;
}

section {
  padding: 50px 0;
}

h2 {
  color: #38bdf8;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
}

.project-card a {
  color: #38bdf8;
  margin-right: 10px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  color: #64748b;
}